# Node
node_modules/
# Coverage
coverage/
coverage.json

# Hardhat / Foundry / Truffle / Remix artifacts & cache
artifacts/
build/
cache/
typechain/
out/
build-info/
artifacts-dbg/

# OpenZeppelin hardhat-upgrades / persisted files
.openzeppelin/
.deps/
.states/

# Environment / secrets
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Solidity debug / large files
*.dbg.json
*.json.log

# Misc
dist/
*.tgz